@charset "UTF-8";
@font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype')
}

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'DNFBitBitv2';
}

li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 20px;
}

li {
    list-style: none;
}

#wrap {
    width: 100%;
    height: 1080px;
    position: relative;
}

.background {
    background-image: url('/background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 1920px;
    height: 1080px;
}

/*하단 레이아웃*/
.Bottom_bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 1920px;
    height: 130px;
    background-color: #503755;
}

.loginArea {
    position: absolute;
    left: 30px;
    width: 220px;
    display: flex;
    align-items: center;
}

.loginArea img {
    width: 125px;
    height: 100px;
    transform: scaleX(-1);
}

.loginBt {
    margin-left: 10px;
    color: white;
    -webkit-text-stroke: 1px #EDADFF;
    background-color: #503755;
    border: none;
    cursor: pointer;
}

.loginBt:hover {
    opacity: 0.7;
}

.timeArea {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 50px;
    color: white;
}

/*메인 페이지*/
.double-click-grid {
    width: 600px;
    height: 908px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개씩 그리드로 배치 */
    justify-items: center;
    align-items: center;
}

.icon {
    width: 170px;
    height: 200px;
    padding: 10px;
    transition: box-shadow 0.3s ease; /* 테두리 색상 변화에 대한 애니메이션 설정 */
    cursor: pointer;
}

.icon:hover {
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.5); /* 마우스 오버 시 투명한 막처럼 보이는 그림자 설정 */
}

/*ToDoList*/
.ToDoBG {
    background-image: url('/ToDoListBG.gif');
    background-size: contain;
    width: 800px;
    height: 800px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    top: 75px;
    left: 550px;
    padding: 50px;
}

.Add_TODO {
    width: 490px;
    height: 100px;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}

.Add_BT {
    width: 100px;
    height: 100px;
    border-style: none;
    border-radius: 10px;
    background-color: #F2D4E6;
    color: white;
    cursor: pointer;
}

.Add_BT:hover {
    background-color: #C3A0DB;
}

.list_Area {
    margin-top: 60px;
    overflow: auto;
    height: 380px;
}

.list_Area::-webkit-scrollbar {
    display: none;
}

.list-item {
    width: 600px;
    height: 80px;
    background-color: white;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: opacity 1s ease-out;
}

.list-item.hidden {
    opacity: 0;
}

.delete {
    width: 40px;
    height: 40px;
    background-color: #C3A0DB;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

.delete:hover {
    background-color: #8B93D4;
}

.delete > img {
    margin: 0 auto;
}

/*ChatBot*/
.ChatBG {
    background-image: url('/ChatBotBG.jpg');
    background-size: contain;
    width: 800px;
    height: 800px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    top: 75px;
    left: 550px;
    padding: 70px 100px 40px 100px;
}

.Chat_textArea {
    position: absolute;
    bottom: 40px;
    width: 600px;
    height: 55px;
    padding: 15px;
    border-radius: 10px;
    background-color: #D7CEDD;
    border-style: none;
    display: flex;
    justify-content: space-between;

}

.Chat_text {
    width: 520px;
    font-size: 16px;
    border-style: none;
    background-color: transparent;
}

.Chat_text:focus {
    outline: none;
}

.Chat_send {
    background-color: #856FC1;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

.Chat_Area {
    overflow: auto;
    height: 635px;
}

.Chat_Area::-webkit-scrollbar {
    display: none;
}

.Chat_userMessage, .Chat_assistantMessage {
    background-color: #D6CEDD;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    max-width: 60%;
    text-align: left;
}

.Chat_assistantImage {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Space between image and message */
}
